title{ 
	display:block; 
	font-weight:bolder; 
	text-align:center; 
	font-size:40px; 
	background-color:#000000; 
	color: white; 
	font-family: Poppins;
	border: 3px solid white; 
    margin:0.2em;  
    padding:0.2em;
	} 

name, class, details_info 
{ 
	display:block; 
	text-align:center;
	font-family: Poppins; 
}
 
name { 
	color:#34495E; 
	font-weight:bolder; 
	font-size:40px; 
	} 
class { 
	color:#28B463
	font-size:40px; 
	} 
details_info { 
	color:#E74C3C 
	font-size:40px; 
	} 

